.carrousel-container{
    display: flex;
    width: 100%;
    background-color: rgba(127, 102, 102, 0.5);
    justify-content: center;
    position: relative;
    align-items: center;
    height: 70vh;
    overflow: hidden;
}   

.leftArrow {
    position: absolute;
    top: 45%;
    left: 1%;
    width: 50px;
    height: 100px;
}

.img-slider{
 
    object-fit: cover;
    // flex-shrink: 0;
    min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  
}
.rightArrow {
    position: absolute;
    top: 45%;
    right: 1%;
    width: 50px;
    height: 100px;
}

.index {
    position: absolute;
    bottom: 1%;
    left: 50%;
    color: white;
    font-size: 30px;
}