.carrousel-container{
    display: flex;
    width: auto;
    background-color: rgba(127, 102, 102, 0.5);
    justify-content: center;
    position: relative;
    align-items: center;
    height: 40vh;
    overflow: hidden;
}   

.leftArrow {
    position: absolute;
    top: 45%;
    left: 1%;
    width: 50px;
    height: 100px;
}

.img-slider{
 
    object-fit:fill;
    // flex-shrink: 0;
    
//     min-width: 100%;
//   min-height: 100%;
  height: auto;
  width: auto;
//   background-size:contain;
  
}
.rightArrow {
    position: absolute;
    top: 45%;
    right: 1%;
    width: 50px;
    height: 100px;
}

.index {
    position: absolute;
    bottom: 1%;
    left: 50%;
    color: white;
    font-size: 30px;
}