.host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin: 5px;
}

.host img {
    border-radius: 50%;
    height: 100px;
}

.host-name {
    display: flex;

}
.host p{
    color:#FF6060 ;
}

@media (max-width: 500px) {
    .host img {
        border-radius: 50%;
        height: 50px;
    }
}