.navbar {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px 30px;
    height: 40px;
}

.navbar-item:hover {
    border-bottom: solid dark 2px;
}

.navbar svg:nth-child(2){
    top: 5px;
}

.nav{
    display: flex;
    align-items: center;    
}

.navbar-menu {
    display: flex;
}

.navbar-item{
    margin: 0px 15px;
    font-size: calc(1rem + 0.8vw);
    font-weight: 500;

}

.navbar-logo {
    display: flex;
    align-items: center;
    width: 75px;

}
.navbar-logo svg path{
    height: 180px;
    width: 70%;
    flex-wrap: nowrap;
}


@media (max-width: 600px) {
    .navbar-logo svg{
        width: 150%;
        flex-wrap: nowrap;
    }

    .item-logo{
        width: 10px;
        height: 10px;
    }

    .navbar{
        margin: 5px;
        height: 50px;
        padding: 0px 20px;
    }

    .navbar-menu{
        padding: 0;
        margin: 0;
    }

    .navbar-item{
        margin: 0px 10px;
        font-size: calc(0.8rem + 0.8vw);
        font-weight: 500;
    }

    .navbar-item:hover {
        border-bottom: solid dark 2px;
    }

  
}