.background-div{
    width: 90%;
    height: 223px;
    padding: 0px 20px;
    border-radius: 50px;
    background-color: rgb(8, 134, 245);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image:url('../../assets/img/kalen-emsley-Bkci_8qcdvQ-unsplash2.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
}

.about-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    color:var(--color3);
   width: 100%;
    position: relative;

    // height: 54px;
    background-color: white;
    // margin: 30px 0px;
    // padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    margin: 10px 0px;

}

.accordeon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    height: 54px;
    background-color: var(--color1);
    padding: 0px 10px;
    border-radius: 10px;
}

.accordeon h2{
    margin: 0px;
}

.accordeon svg{
    fill: white
}

.accordeon svg:hover {
    cursor: pointer;
}


.up-accordeon svg{
    fill: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.text-accordeon{
    // height: auto;
    background-color: rgb(255, 255, 255);
    color: black;
    position: relative;
    padding: 5px 30px;
    
    width: 130%;
    // text-align: center;
    background-color: rgb(244, 244, 244);
}

.test-margin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    width: 75%;
}