.notfound {
// a:hover {
//     text-decoration: underline;
//   }

min-height: 70vh ;

  h2{
      color: var(--color1);
  }
}



.backpage {
  border-bottom: solid black 1px;
}
.notfound-item{
  margin: 50px 0px;
}

@media (max-width: 500px ) {
  .notfound {
    padding: 25px;

  }

  .notfound svg {
    height: auto;
    width: 70%;
  }
}