.notfound {
a:hover {
    text-decoration: underline;
  }
  h2{
      color: var(--color1);
  }
}

.notfound-item{
  margin: 50px 0px;
}

@media (max-width: 500px ) {
  .notfound {
    padding: 25px;
  }

  .notfound svg {
    height: auto;
    width: 70%;
  }
}