@font-face {
    font-family:"Montserrat";
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}

:root{
    --color1: #FF6060;
    --color2: #000000;   
    --color3: #ffffff;
}

* {
    font-family: "Monserrat", sans-serif;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    list-style-type:none;
    min-height: 100vh;
}

a {
 text-decoration: none;
 color: var(--color2);
}

.center-div{
    display: flex;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70vh;
}

.page-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}

.renderRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.renderTag {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0px;

}

.renderTagItem {
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    background-color: #FF6060;
    margin: 0px 0px;
    border-radius: 10px;
    color: #ffffff;
    padding: 5px 30px;
    height: 20px;
    font-weight: 700;
    font-size: calc(0.5rem + 0.5vw);
    white-space: nowrap;
    border-radius: 5px;
}


.lastRow {
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
}

.lastRowItemLeft {
    border-radius: 20px;
}

.lastRowItemRight {
    border-radius: 20px;
}
 

@media (max-width: 500px) {
    .lastRow{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}